.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-header {
  font-size: 30px;
  padding: 20px;
  margin-bottom: 10px;
}
footer {
  display: block;
  padding: 10px;
  margin-top: 10px;
}

