.App {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-header {
  font-size: 30px;
  padding: 20px;
  margin-bottom: 10px;
}
footer {
  padding: 10px;
  margin-top: 10px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
